.cart{
    height: 1.875rem;
}

.cartContainer{
    margin-right: 1.25rem;
}

.cartWidget{
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: #0C0C0C;
}