.NavBar{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;

}

.logo-menu{
    display: flex;
    align-items: center;
}

.menu{
    margin-left: 50px;
    align-content: space-around;
}

.menu-item{
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #F29068;
    color: #0C0C0C;
}

.menu-item-active{
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #f28f682a;
    border: 2px solid #F29068;
    color: #0C0C0C;
}

.NavBar{
    border-bottom: 2px solid #F29068;
}