.NavBar{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;

}

.logo-menu{
    display: flex;
    align-items: center;
}

.menu{
    margin-left: 50px;
    align-content: space-around;
}

.menu-item{
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #E5E5E5;
    color: black;
}

.menu-item-active{
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #a6a6a6;
    color: black;
}